<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashyadav.FYPBT_app">


    <!--Permissions for Bluetooth access-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name="com.ashyadav.FYPBT_app.BTConnectActivity"></activity>
        <activity android:name="com.ashyadav.FYPBT_app.AboutApp"></activity>
        <activity android:name="com.ashyadav.FYPBT_app.MainActivity"></activity>
        <activity android:name="com.ashyadav.FYPBT_app.IntroActivity"></activity>
        <activity android:name="com.ashyadav.FYPBT_app.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>